In [4]:
pip install -r requirements.txt

Requirement already satisfied: numpy in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 1)) (2.1.1)
Requirement already satisfied: pandas in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: matplotlib in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 3)) (3.9.2)
Requirement already satisfied: seaborn in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: ucimlrepo in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 5)) (0.0.7)
Requirement already satisfied: scikit-learn in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 6)) (1.5.2)
Requirement already satisfied: statsmodels in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 7)) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (3.1.4)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from ucimlrepo->-r requirements.txt (line 5)) (2024.8.30)
Requirement already satisfied: scipy>=1.6.0 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 6)) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 6)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 6)) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from statsmodels->-r requirements.txt (line 7)) (0.5.6)
Requirement already satisfied: six in c:\users\sheri\appdata\local\programs\python\python312\lib\site-packages (from patsy>=0.5.6->statsmodels->-r requirements.txt (line 7)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ucimlrepo import fetch_ucirepo

In [6]:
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
Y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

Y.head()

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

  income
0  <=50K
1  <=50K
2  <=50K
3  <=50K
4  <=50K

In [7]:
df = pd.DataFrame.join(X,Y)

df.value_counts('income')

income
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64

In [8]:
df['income'] = df['income'].str.strip('.').str.strip()
df.value_counts('income')

income
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [9]:
objects = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']
keys = [0]*len(objects)
dfcopy = df.copy()

for i in range(len(objects)):
    dfcopy[objects[i]], keys[i] = pd.factorize(df[objects[i]])

print(dfcopy.dtypes, '\n')
print(df.dtypes)

age                int64
workclass          int64
fnlwgt             int64
education          int64
education-num      int64
marital-status     int64
occupation         int64
relationship       int64
race               int64
sex                int64
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country     int64
income            object
dtype: object

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [12]:
for col in objects:
    print(df.value_counts(col),'\n')

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
?                    1843
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

sex
Male      32650
Female    16192
Name: count, dtype: int64

native-country
United-States                 43832
Mexico                          951
?                               583
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64